@model RolsaTechnologies.Models.Calculator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calculator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityUsage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityUsage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasUsage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasUsage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarMilesPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarMilesPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarFuelEfficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarFuelEfficiency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicTransportMilesPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicTransportMilesPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteProducedPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteProducedPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecyclingHabits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecyclingHabits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeatConsumptionPerWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeatConsumptionPerWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedCarbonFootprint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedCarbonFootprint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCalculated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCalculated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
